<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      
      <!-- Latest compiled and minified jQuery library CDN -->
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
      <!-- Latest compiled and minified CSS for Bootstrap-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional Bootstrap theme (Recommended) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript for Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      
  </head>
  <body background="/images/meet.jpg">
      
                   
             <h1> Website under construction </h1>
             <div class="sub">
                  <button><a href="/">Home </a></button>
             </div>
  </body>
</html>